<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Photo</title>
    <link rel = "shortcut icon" href = "../static/images/275127.png" type = "x-icon">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="container">
        <h1>Merging Photo</h1>
        </div>

        <div class="photo-gallery">
            <div class="contain-phase">
                <h2>Phase image</h2>
                <div class="pic phase">
                    <img src="../static/images/phase image.jpg" />
                </div>
    
                <div class="pic phase determin">
                    <img scr="Screenshot (18).png">
                </div>
            </div>
            
            <div class="contain-magnitude">
                <h2>Magnitude Image</h2>
                <div class="pic magnitude">
                    <img src="../static/images/magnitude image.jpg" />
                </div>
    
                <div class="pic magnitude determin">
                    <img scr="Screenshot (20).png">
                </div>

            </div>

            <div class="contain-result">

                <h2>Result Photo</h2>

                <div class="pic result">
                    <img scr="Screenshot (21).png">
                </div>

            </div>   
           
        </div>
    </div>


</body>
</html>