*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-color: #252525;
}

.container{
    width: 86%;
    text-align: center;

}

h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
    color:wheat;
    width: 114%;

}

h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height:3px;
    background-color: crimson;
    bottom:-10px;
    left: 50%;
    transform: translateX(-50%);
    

}

label:hover{
    color: black;

}


.photo-gallery{
    width: 87%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,420px);
    grid-gap: 30px;
}

.pic{
    position: relative;
    height: 250px;
    width:400px;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    

}

h2{
    color: wheat;
    position: relative;
    left:27%;
}

.pic img{
    width:100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.contain-phase{
max-width: 100%;
}
.contain-phase img{
    width:100%;
}

.pic:hover::after{
    height: 100%;

}

.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}


.contain-result{
    position: relative;
}

.result{
    top: 26%;
}

#id_confirm{
    color: green;
}
#id_confirm:hover {
    opacity: 0.3;
}
#id_cancel:hover {
    opacity: 0.3;
}
#id_cancel{
    color: red;
}