<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Photo</title>
    <link rel = "shortcut icon" href = "../static/images/275127.png" type = "x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='cropperjs/dist/cropper.min.css') }}"/>
    <!-- <link rel="stylesheet" href="../static/cropperjs/dist/cropper.min.css"> -->

</head>
<body>
    <!-- {% if flag %}
    <h1> {{ phase_crop_array }}</h1>
    {% endif %} -->
    <div class="container">
        <h1>Merging Photo</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file1">
            <input type="file" name="file2">
            <input type="submit">

            </form>

        <div class="photo-gallery">
    
            <div class="contain-phase">
                <h2>Phase image</h2>
                <div class="pic phase">
                    
                  <img id="phase_img" src="{{ url_for('static',filename='images/'+path_to_first_pic+'') }}" />
                  <!-- <img id="image1" src="../static/images/messi.jpg"> -->
                  <button id="cropPhaseImgBtn"> Crop Phase Image </button>


                </div>
    
                <div class="pic phase determin">
                    <img id="phase_output" src="">
                </div>
            </div>
            
            <div class="contain-magnitude">
                <h2>Magnitude Image</h2>
                <div class="pic magnitude">
                        <img id="magnitude_img" src="{{ url_for('static',filename='images/'+path_to_second_pic+'') }}" />
                        <button id="cropMagnitudeImgBtn"> Crop Magnitude Image </button>
                    </div>
    
                <div class="pic magnitude determin">
                    <img id="magnitude_output" src="">
                </div>

            </div>

            <div class="contain-result">

                <h2>Result Photo</h2>

                <div class="pic result">
                    <img src="" id="output">
                </div>

            </div>   
           
        </div>
    </div>

<script src="../static/cropperjs/dist/cropper.min.js"> </script>


<script src="{{ url_for('static',filename='main.js') }}"> </script>
<!-- <script src="../static/main.js"> </script> -->

</body>
</html>

