<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Photo</title>
    <link rel = "shortcut icon" href = "../static/images/275127.png" type = "x-icon">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="container">
        <h1>Merging Photo</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file1">
            <input type="file" name="file2">
            <input type="submit">
            </form>

        <div class="photo-gallery">
            <div class="contain-phase">
                <h2>Phase image</h2>
                <div class="pic phase">
                    
                    <img src="{{ url_for('static',filename='images/'+path_to_first_pic+'') }}" />
                  
                </div>
    
                <div class="pic phase determin">
                    <img src="Screenshot (18).png">
                </div>
            </div>
            
            <div class="contain-magnitude">
                <h2>Magnitude Image</h2>
                <div class="pic magnitude">
                    <!-- <form method="post" enctype="multipart/form-data">
                        <input type="file" name="file2">
                        <input type="submit">
                        </form> -->
                        <img src="{{ url_for('static',filename='images/'+path_to_second_pic+'') }}" />
                </div>
    
                <div class="pic magnitude determin">
                    <img src="Screenshot (20).png">
                </div>

            </div>

            <div class="contain-result">

                <h2>Result Photo</h2>

                <div class="pic result">
                    <img src="Screenshot (21).png">
                </div>

            </div>   
           
        </div>
    </div>


</body>
</html>